html, body{
  margin: auto 0;
  padding: auto 0;
}

h1 {
  margin-left: 200px;
}

.calculator {
  width: auto;
  display: block;
  margin-left: 200px;
  margin-right: auto;
}

.button {
  width: 50px;
  height: 50px;
  font-size: 30px;
  margin: 0px;
  margin-right: -5px;
  padding: 0px;
}

.display {
  display: block;
  margin-bottom: 5px;
  width: 187px;
  height: 50px;
  font-size: 30px;
  font-family: monospace;
  text-align: right;
  background-color: #D0D0D0;
  padding: 5px;
}
